body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin-top: 5px;
    margin-left: 10px;
}
.vrtcl{
    position: absolute;
    border-left: 2px solid white;
    height: 50%;
    width: 0;
    margin-left: 50%;
    padding: 11.5em 1em;
}
.sosmed{
    position: absolute;
    margin-left: 53%;
}
.icon {
    padding: 10px;
    border-radius: 5px;
}

.icon a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.icon a:hover {
    color: yellow;
}
label{
    display: inline-block;
    font-size: 15px;
    color: white;
    margin-left: 10px;
}
.finput {
    display: inline-block;
    border: none;
    height: 25px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 0 1px blue;
    margin-left: 10px;
}
.alamat{
    height: 320px;
    width: 30%;
}
.button{
    margin-left: 10px;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 15px;
}
.button:active{
    background-color: rgb(0, 183, 255);
}
a {
    text-decoration: none !important;
}
.bgbwh {
    width: 100%;
    height: 20%;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0px;
}
.hrb {
    width: 50%;
    margin-left: 70px;
    margin-top: 5px;
}

.findbwh {
    position: absolute;
    display: flex;
    margin-left: 82.5%;
    bottom: -52%;
}

.iconbwh {
    position: absolute;
    display: flex;
    margin-top: 0;
    margin-left: 70%;
    bottom: -350px;
    padding: 10px;
    border-radius: 5px;
}

.iconbwh a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.iconbwh a:hover {
    color: yellow;
}

